@{
    ViewBag.Title = "充值统计";
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}

@section Styles{
    @Styles.Render("~/Template/Kendo/styles/Default")
}

@section Scripts
{
    @Scripts.Render("~/JS/Kendo/content/Js")
    <script>
        $(function () {
            //$("#txtStartDate").kendoDatePicker({
            //    dateInput: false,
            //    format: "yyyy-MM-dd"
            //});
            //$("#txtEndDate").kendoDatePicker({
            //    dateInput: false,
            //    format: "yyyy-MM-dd"
            //});
            var date = (new Date()).format('yyyy-MM-dd');
            $("#txtStartDate").val(addDate(date, 'd', -7).format('yyyy-MM-dd'));
            $("#txtEndDate").val(date);

            $("#btnSearch").click(function () {
                createChart();
            });

            createChart();
        });

        function createChart() {
            var startDate = $("#txtStartDate").val();
            var endDate = $("#txtEndDate").val();
            if (startDate == "" || endDate == "") {
                alert("请输入查询条件（日期为必要项）！");
                return;
            }
            $("#chart").kendoChart({
                // theme: "MaterialBlack",
                theme: $(document).data("kendoSkin") || "default",
                dataSource: {
                    transport: {
                        read: {
                            url: "/Business/Statistics/GetChargeStatistics?startDate=" + startDate + "&endDate=" + endDate,
                            dataType: "json"
                        }
                    },
                    sort: {
                        field: "Date",
                        dir: "asc"
                    }
                },
                chartArea: {
                    height: 400
                },
                title: {
                    position: "top",
                    text: "充值统计"
                },
                legend: {
                    position: "bottom"
                },
                seriesDefaults: {
                    type: "line"
                },
                series: [{ 
                    field: "TotalCharge",
                    name: "总充值金额",
                    color: "#000000"
                },
                { 
                    field: "ALCharge",
                    name: "支付宝充值额",
                    color: "#68217A"
                },
                { 
                    field: "WXCharge",
                    name: "微信充值额",
                    color: "#0023DE"
                }],
                categoryAxis: {
                    field: "Date",
                    type: "date",
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        rotation: "-45",
                        format: "MM-dd"
                    },
                    crosshair: {
                        visible: true
                    }
                },
                valueAxis: [{ 
                    labels: {
                        format: "{0:N0}"
                    },
                    color: "#000000",
                }],
                tooltip: {
                    visible: true,
                    template: "#= series.name #: #= value #"
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="input-group input-large custom-date-range" data-date-format="yyyy/mm/dd">

                        <span class="input-group-addon">日期从</span>
                        <input type="text" class="form-control dpd1" name="from" id="txtStartDate">
                        <span class="input-group-addon">到</span>
                        <input type="text" class="form-control dpd2" id="txtEndDate" name="to">
                    </div>

                    <button type="submit" id="btnSearch" class="btn btn-success">查询</button>
                </div>
            </div>
        </section>
        <section class="panel">
            <div id="chart">
            </div>
        </section>
    </div>
</div>
