@using System.Text
@using BackStage.Service.Dto

@{
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}

@section Scripts{
    @Scripts.Render("~/JS/Kendo/custom/Js")
    <script>
        $(function () {
            var date = (new Date()).format('yyyy-MM-dd');
            $("#txtStartDate").val(addDate(date, 'd', -7).format('yyyy-MM-dd'));
            $("#txtEndDate").val(date);

            $("#btnSearch").click(function () {
                init();
            });
            loadUser();
        });

        function loadUser() {
            $.ajax({
                type: 'POST',
                url: '/Business/Channel/GetAdmUserList',
                dataType: 'json',
                success: function (result) {
                    if (typeof (result) != undefined && result != null) {
                        var list = $("#listUsers");
                        for (var i = 0; i < result.length; i++) {
                            if (i == 0)
                                list.append("<option value='" + result[i].Id + "' selected='selected'>" + result[i].RealName + "</option>");
                            else
                                list.append("<option value='" + result[i].Id + "'>" + result[i].RealName + "</option>");
                        }
                        loadChannel();
                    }
                }
            });
        }

        function loadChannel() {
            var userId = $("#listUsers").val();
            $.ajax({
                type: 'POST',
                url: '/Business/Channel/GetUserChannels',
                data: { userId: userId },
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (typeof (result) != undefined && result != null) {
                        if ($("#listChannel:has(option)").length > 0)
                            $('#listChannel > option').remove();

                        var list = $("#listChannel");
                        list.append("<option value=''>全部</option>");
                        for (var i = 0; i < result.length; i++) {
                            list.append("<option value='" + result[i] + "'>" + result[i] + "</option>");
                        }

                        init();
                    }
                }
            });
        }

        function init() {
            var userId = $("#listUsers").val();
            var channel = $("#listChannel").val();
            var startDate = $("#txtStartDate").val();
            var endDate = $("#txtEndDate").val();
            if ($("#table_server:has(tbody)").length > 0)
                $('#table_server > tbody').remove();
            $.ajax({
                type: 'POST',
                url: '/Business/Channel/GetChannelUserStatistics',
                data: { startDate: startDate, endDate: endDate,userId:userId, channel: channel },
                dataType: 'json',
                success: function (result) {
                    if (typeof (result) != undefined && result != null) {
                        var table = $("#table_server");
                        var body = $("<tbody></tbody>");
                        table.append(body)
                        for (var i = 0; i < result.length; i++) {
                            var tr = $("<tr></tr>");
                            body.append(tr);
                            if (i == result.length - 1) {
                                tr.append("<td>总计</td>");
                                tr.append("<td></td>");
                            }
                            else {
                                tr.append("<td>" + jsonDateFormat(result[i].Date) + "</td>");
                                tr.append("<td>" + result[i].Channel + "</td>");
                            }
                            tr.append("<td>" + result[i].RegistCount + "</td>");
                            tr.append("<td>" + result[i].ChargeMoney + " / " + result[i].ChargeUserCount + "</td>");
                            tr.append("<td>" + result[i].Deduction + "</td>");
                            tr.append("<td>" + result[i].AvaChargeMoney.toFixed(2) + "</td>");
                            tr.append("<td>" + result[i].CoinChargeMoney + " / " + result[i].CoinChargeUserCount + "</td>");
                            tr.append("<td>" + result[i].VIPChargeMoney + " / " + result[i].VIPChargeUserCount + "</td>");
                            tr.append("<td>" + result[i].TicketChargeMoney + " / " + result[i].TicketChargeUserCount + "</td>");
                            tr.append("<td>" + result[i].ChatUserCount + "</td>");
                        }
                    }
                }
            });
        }

        ///无时分秒
        function jsonDateFormat(jsonDate) {//json日期格式转换为正常格式
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + day;
            } catch (ex) {
                return "";
            }
        }
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtStartDate" placeholder="开始日期">
                        <span> 至 </span>
                        <input type="text" class="form-control" id="txtEndDate" placeholder="结束日期">
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <label for="listUsers">渠道用户:</label>
                        <select id="listUsers" class="form-control" onchange="loadChannel()"></select>
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <label for="listChannel">渠道:</label>
                        <select id="listChannel" class="form-control"></select>
                    </div>

                    <button type="submit" id="btnSearch" class="btn btn-success">查询</button>
                </div>
            </div>
        </section>
        <section class="panel">
            <table id="table_server" class="table responsive-data-table data-table table-hover">
                <thead>
                    <tr>
                        <th>
                            日期
                        </th>
                        <th>
                            渠道号
                        </th>
                        <th>
                            注册用户数
                        </th>
                        <th>
                            总充值额/人数
                        </th>
                        <th>
                            扣量
                        </th>
                        <th>
                            注册ARPU
                        </th>
                        <th>
                            钻石充值额/人数
                        </th>
                        <th>
                            VIP充值额/人数
                        </th>
                        <th>
                            邮票充值额/人数
                        </th>
                        <th>
                            聊天人数
                        </th>
                    </tr>
                </thead>
            </table>
        </section>
    </div>
</div>

