@{
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $("#btnSearch").click(function () {
                init();
            });

            init();
        });

        function init() {
            var condition = $("#txtCondition").val();
            if ($("#table_server:has(tbody)").length > 0)
                $('#table_server > tbody').remove();
            $.ajax({
                type: 'POST',
                url: '/Business/Gift/GetTrasactionList',
                data: { pageIndex: 1, pageSize: 1000, condition: condition },
                dataType: 'json',
                success: function (result) {
                    if (typeof (result) != undefined && result != null) {
                        var table = $("#table_server");
                        var body = $("<tbody></tbody>");
                        table.append(body)
                        for (var i = 0; i < result.length; i++) {
                            var tr = $("<tr></tr>");
                            body.append(tr);
                            tr.append("<td>" + result[i].UserId + "</td>");
                            tr.append("<td>" + result[i].NickName + "</td>");
                            tr.append("<td>" + result[i].PhoneNo + "</td>");
                            tr.append("<td>" + result[i].AnchorId + "</td>");
                            tr.append("<td>" + result[i].AnchorNickName + "</td>");
                            tr.append("<td>" + result[i].AnchorPhoneNo + "</td>");
                            tr.append("<td>" + result[i].GiftName + "</td>");
                            tr.append("<td>" + result[i].OriginalPrice + "</td>");
                            tr.append("<td>" + result[i].CostPrice + "</td>");
                            tr.append("<td>" + result[i].Status + "</td>");
                            tr.append("<td>" + result[i].StatusDescription + "</td>");
                            tr.append("<td>" + result[i].Ip + "</td>");
                            tr.append("<td>" + result[i].CreateTime.toString().getDate() + "</td>");
                        }
                    }
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="txtCondition">复合条件:</label>
                        <input type="text" class="form-control" style="width:360px;" id="txtCondition" placeholder="用户Id/昵称/手机号/主播Id/主播昵称/主播手机号">
                    </div>
                    <button type="submit" id="btnSearch" class="btn btn-success">查询</button>
                </div>
            </div>
        </section>
        <section class="panel">
            <table id="table_server" class="table responsive-data-table data-table table-hover">
                <thead>
                    <tr>
                        <th>
                            用户Id
                        </th>
                        <th>
                            昵称
                        </th>
                        <th>
                            手机号
                        </th>
                        <th>
                            主播Id
                        </th>
                        <th>
                            主播昵称
                        </th>
                        <th>
                            主播手机号
                        </th>
                        <th>
                            礼物名称
                        </th>
                        <th>
                            原价
                        </th>
                        <th>
                            实际价格
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            状态描述
                        </th>
                        <th>
                            Ip
                        </th>
                        <th>
                            发送时间
                        </th>
                    </tr>
                </thead>
            </table>
        </section>
    </div>
</div>

