@{
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $("#btnSubmit").click(function () {
                save();
            });

            init();
        });

        function init(){
            $.ajax({
                type: 'POST',
                url: '/Business/User/InitEditBind',
                data: { id: queryString("id") },
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (typeof (result) != undefined && result != null) {
                        $("#txtId").val(result.Id);
                        $("#txtPhoneNo").val(result.PhoneNo);
                        $("#txtUserId").val(result.UserId);
                        $("#txtCost").val(result.CostAwardRate);
                        $("#txtCashout").val(result.CashoutAwardRate);
                        $("#txtInviteTime").val(result.InviteTime.toString().getDate());
                    }
                }
            });
        }

        function save() {
            var id = $("#txtId").val();
            var cost = $("#txtCost").val();
            var cashout = $("#txtCashout").val(); 
            $.ajax({
                type: 'POST',
                url: '/Business/User/SaveInviteUser',
                data: { id: id, cost: cost, cashout: cashout },
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    alert(result);
                }
            });
        }

        function queryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                被邀请用户
            </header>

            <input type="text" id="txtId" style="display:none">
            <div class="panel-body">
                <form class="form-horizontal tasi-form" method="get">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtPhoneNo" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">用户Id</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="txtUserId" type="text" disabled />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">消费奖励（%）</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtCost" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">提现奖励（%）</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtCashout" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">邀请时间</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="txtInviteTime" type="text" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label"></label>
                        <div class="col-sm-10" style="text-align:center;">
                            <button type="button" id="btnSubmit" class="btn btn-primary" style="width:120px;">提&nbsp;&nbsp;交</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返&nbsp;&nbsp;回</button>
                        </div>
                    </div> 
                </form>
            </div>
        </section>
    </div>
</div>

