@using System.Text
@using BackStage.Service.Dto

@{
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}
@section Scripts{
    <script>
        $(function () {
            $("#btnSearch").click(function () {
                init();
            });

            init();
        });

        function init() {
            var condition = $("#txtCondition").val();
            var channle = $("#txtChannel").val();
            if ($("#table_server:has(tbody)").length > 0)
                $('#table_server > tbody').remove();
            $.ajax({
                type: 'POST',
                url: '/Business/User/GetList',
                data: { pageIndex: 1, pageSize: 1000, condition: condition, channel: channle },
                dataType: 'json',
                success: function (result) {
                    if (typeof (result) != undefined && result != null) {
                        var table = $("#table_server");
                        var body = $("<tbody></tbody>");
                        table.append(body)
                        for (var i = 0; i < result.length; i++) {
                            var tr = $("<tr></tr>");
                            body.append(tr);
                            tr.append("<td>" + result[i].UserId + "</td>");
                            tr.append("<td>" + result[i].NickName + "</td>");
                            tr.append("<td>" + result[i].PhoneNo + "</td>");
                            tr.append("<td>" + result[i].Description + "</td>");
                            tr.append("<td>" + result[i].Channel + "</td>");
                            tr.append("<td>" + result[i].Ip + "</td>");
                            tr.append("<td>" + result[i].CreateTime.toString().getDate() + "</td>");
                            tr.append("<td>" + result[i].LastLoginTime.toString().getDate() + "</td>");
                            tr.append("<td><a href='/Business/User/Bind?userId=" + result[i].UserId + "'>绑定</a> | <a onclick='setBlackUser(" + result[i].UserId + ")'>拉黑</a></td>");
                        }
                    }
                }
            });
        }

        function setBlackUser(userId) {
            $.ajax({
                type: 'POST',
                url: '/Business/User/SetBlackUser',
                data: { userId: userId },
                dataType: 'json',
                success: function (result) {
                    alert(result);
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="form-inline">
                    <div class="form-group">
                        <label for="txtCondition">复合条件:</label>
                        <input type="text" class="form-control" id="txtCondition" placeholder="用户Id/昵称/手机号">
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <label for="txtChannel">渠道号:</label>
                        <input type="text" class="form-control" id="txtChannel" placeholder="渠道号">
                    </div>

                    <button type="submit" id="btnSearch" class="btn btn-success">查询</button>
                </div>
            </div>
        </section>
        <section class="panel">
            <table id="table_server" class="table responsive-data-table data-table table-hover">
                <thead>
                    <tr>
                        <th>
                            用户Id
                        </th>
                        <th>
                            昵称
                        </th>
                        <th>
                            手机号
                        </th>
                        <th>
                            签名
                        </th>
                        <th>
                            注册渠道
                        </th>
                        <th>
                            注册IP
                        </th>
                        <th>
                            注册时间
                        </th>
                        <th>
                            最近登陆时间
                        </th>
                        <th style="width:50px;">
                            操作
                        </th>
                    </tr>
                </thead>
            </table>
        </section>
    </div>
</div>

